plugins/examples/n8n-openauditor-sync/workflow.json
{
  "name": "OPENAUDITOR Standalone Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openauditor-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Receive OPENAUDITOR Payload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body || $json;\nconst flatRow = payload.flatRow || {};\nconst sheetSchema = Array.isArray(payload.sheetSchema) ? payload.sheetSchema : [];\nconst normalized = {\n  templateId: payload.templateId || '',\n  templateName: payload.templateName || '',\n  completedAt: payload.completedAt || '',\n  exportedFrom: payload.exportedFrom || '',\n  inspectorFileId: payload.inspectorFileId || '',\n  syncDestinationKind: payload.syncDestination?.kind || '',\n  mediaCount: Array.isArray(payload.media) ? payload.media.length : 0,\n  ...flatRow,\n};\nreturn [{ json: { payload, flatRow: normalized, sheetSchema } }];"
      },
      "id": "normalize-node",
      "name": "Normalize Flat Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true,\"templateName\":$json.payload.templateName,\"columns\":Object.keys($json.flatRow || {}).length}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        260
      ]
    }
  ],
  "connections": {
    "Receive OPENAUDITOR Payload": {
      "main": [
        [
          {
            "node": "Normalize Flat Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Flat Row": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
